@use '../../sharedStyles.scss/button.scss';
@use '../../sharedStyles.scss/input.scss';
@use '../../sharedStyles.scss/title.scss';
@use '../../sharedStyles.scss/errorMessage.scss';

$notLoggedColor: rgb(255, 102, 0);

.folder-list-format {
  height: 90%;
  width:100%;
  text-align: center;
}

.folder-list__items-container{
  overflow: scroll;
  width:100%;
  height: 70%;
}

.sub-title-container{
  width: 100%;
  text-align: left;
}

.folder-list__buttons {
  bottom: 2%;
  width: 100%;
}

.folder-list__add__button {
  margin-left: 2%;
  width: 20%;
  border-radius: 10px;
}

.not-logged-label{
  text-align: center;
  font-size: xx-large;
  color: $notLoggedColor;
}