<div class="login-form">
  <div class="login__title-container">
    <label class="title-format">Login</label>
  </div>
  <form>
    <div class="login-form__container">
      <label>Username:</label> <br />
      <input
        class="input-format login__input"
        type="text"
        [(ngModel)]="username"
        name="username"
        placeholder="Enter the username"
      />
    </div>
    <div class="login-form__container">
      <label>Password:</label>
      <fa-icon *ngIf="passwordHidden; else notHiddenPassword" [icon]="faEye" class="login__input--secret" (click)="showPassword()"></fa-icon>
      <ng-template #notHiddenPassword>
        <fa-icon [icon]="faEyeSlash" class="login__input--secret" (click)="hidePassword()"></fa-icon>
      </ng-template>
      <br />
      <input
        class="input-format login__input"
        [(ngModel)]="password"
        name="password"
        type="{{passwordType}}"
        placeholder="Enter the password"
      />
    </div>
    <button class="button-format login__button" (click)="login()">
      <label>Login</label>
    </button>
  </form>
  <div class="error-message-container">
    <label class="error-message-label">{{ errorMessage }}</label>
  </div>
</div>
