@use '../../sharedStyles/button.scss';
@use '../../sharedStyles/input.scss';
@use '../../sharedStyles/title.scss';
@use '../../sharedStyles/errorMessage.scss';

.todo-list-format {
  height: 90%;
  width:100%;
  text-align: center;
}

.todo-list-add{
  text-align: center;
}

.todo-list__items-container{
  overflow: scroll;
  width:100%;
  height: 65%;
}

.todo-list__buttons {
  width: 100%;
}

.todo-list__add__button {
  margin-left: 2%;
  width: 20%;
  border-radius: 10px;
}